
<!Doctype html>
<html lang="en">
    <head>
        <% if (env === 'prod') { %>
            <script defer src="/assets/<%= manifest['index.html']['file'] %>"></script>
            <link rel="stylesheet" href="/assets/<%= manifest['index.html']['file']['css'][0] %>">
        <% } else { %>
            <script type="module" src="http://127.0.0.1:5173/@vite/client"></script>
            <script type="module">
            import RefreshRuntime from "http://127.0.0.1:5173/@react-refresh"
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
            </script>
        <% } %>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="http://127.0.0.1:5173/src/front/assets/P4.png" />
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5173/src/index.css" />
        <link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Puissance4</title>
    </head>
    <body>
        <div id="root"></div>
        <% if (env !== 'prod') { %>
            <script type="module" src="http://127.0.0.1:5173/src/front/main.tsx"></script>
        <% } %>
    </body>
</html>